<html class="overlay">
  <header>
    <link href="https://fonts.googleapis.com/css?family=Michroma" rel="stylesheet">
    <link href="/css/shoutout/shoutout_overlay.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/require-jquery.js"></script>
    <script src="/js/shoutout/shoutout_overlay.js"></script>
  </header>
  <body class="overlay">
    <div id="reminderContainer" class="">
      <div id="reminderHeader">
        <span id="textTitle">CASTER SHOUTOUT:</span>
      </div>

      <div id="reminderContent">
        <image id="userLogo" src="https://static-cdn.jtvnw.net/jtv_user_pictures/xarth/404_user_70x70.png">
        <div id="reminderContentText">
          <div id="reminderInfo">
          <span>
            <div id="textDesc">Please check out username awesome channel! Give them a follow and check out their amazing content!</div>
          </span>
          </div>
        </div>
      </div>
    </div>
    </body>
</html>