<script src="/js/canvasjs.min.js"></script>
<div id="flash-message">Hello World</div>
<footer class="footer">
	<div class="container">
		<p>Created by <by>&nbsp;</by><a href="https://github.com/JeffDev74">JeffDev.</a></p>
		<p><a href="https://twitch.streamlabs.com/jeffdev" target="_blank">Donate</a></p>
	</div>
</footer>