<head>
	<title>Jeff Dev Twitch Bot | <%= title %></title>
	<link rel="stylesheet" href="<%=theme%>">
	<link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/system.css">
	<link rel="stylesheet" href="/css/plugins.css">
	<link rel="icon" href="/twitch.ico" type="image/x-icon">
	<link rel="apple-touch.icon" sizes="57x57" href="/apple-touch.icon-57x57.png">
	<link rel="apple-touch.icon" sizes="72x72" href="/apple-touch.icon-72x72.png">
	<link rel="apple-touch.icon" sizes="114x114" href="/apple-touch.icon-114x114.png">
	<link rel="apple-touch.icon" sizes="144x144" href="/apple-touch.icon-144x144.png">
	<!--<script src="https://192.168.1.3/socket.io/socket.io.js"></script>-->
	<script src="/js/webcomponents.min.js"></script>
	<script data-main="/js/main" src="/js/require-jquery.js"></script>
	<link rel="import" href="/components/date-widget.comp.html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<script type="text/javascript">
	var BASE_URL = 'http://192.168.1.3:8081';
</script>