<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/partials/head %>
</head>
<body>
  <header>
    <% include ../views/partials/header %>
  </header>

  <div class="container">
    <div class="row16"></div>
    <h1>404 Page Not Found</h1>
    <h2>I cannot find the page you are looking for.</h2>
    <p><a href="/"><h3>Back to the pod bay</h3></a></p>
  </div>
  <footer>
    <% include ../views/partials/footer %>
  </footer>
</body>
</html>