<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/partials/head %>
</head>
<body>
  <header>
    <% include ../views/partials/header %>
  </header>

  <div class="container">
    <div class="row16"></div>
    <h1>500</h1>
  	<h2>Have you tried turning it off and on again?</h2>
  	<p><a href="/"><h3>Try!</h3></a></p>
  	</div>
  <footer>
    <% include ../views/partials/footer %>
  </footer>
</body>
</html>