<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/partials/head %>
</head>
<body>
    <header>
        <% include ../views/partials/header %>
    </header>
    <div class="container">
    	<%- content -%>
    </div>
    <footer>
        <% include ../views/partials/footer %>
    </footer>
</body>
</html>