<html class="overlay">
  <header>
    
    <link href="https://fonts.googleapis.com/css?family=Michroma" rel="stylesheet">
    <link rel="stylesheet" href="/css/slotmachine/overlay_slotmachine.css">

    <script src="/js/require-jquery.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
	<script src="/js/slotmachine/jquery.spritely.js"></script>
	<script src="/js/slotmachine/jquery.backgroundPosition.js"></script>
	<!--<script src="/js/slotmachine/slotmachine_main.js"></script>-->
    <script src="/js/slotmachine/overlay_slotmachine.js"></script>

  </header>
  <body>
<div class="bd">
	<div class="container">
		<div id="jack_pot" class="jack-pot">JACKPOT 100XP</div>
		<div class="slot-wrapper">
			<div id="slot1" class="slot"></div>
			<div id="slot2" class="slot"></div>
			<div id="slot3" class="slot"></div>
			<div class="clear"></div>
		</div>
		
		<div id="result"></div>
		<!-- <div><button id="control">Start</button></div> -->
	</div>
</div>
</body>
</html>